.page-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    text-align: center;
    width: 20%;
    height: 30%;
    padding: 5em 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-header{
    margin-bottom: 3em;
}